/* Reseteo los Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Seteo los Estilos Genéricos de los Elementos */
html,
body {
    height: 100%;
    background-color: slategrey;
}

/* 
input, textarea {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-variant: normal;
    font-weight: 200;
} */

.container-fullHeight {
    height: 100vh;
}

/* Seteo los Estilos del Header y Nav */
.bg-Lightgrey {
    background-color: #F8F9FA;
}

header {
    height: 7vh;
}

main {
    min-height: 84.9vh;
}

nav {
    margin: 0 5%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    width: 200px;
}

nav li.selected {
    color: black;
    border-bottom: 2px black solid;
}

.nav-item:has(.active) {
    border-bottom: 2px black solid;
}


nav li a {
    display: block;
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: white;
}

nav li.selected a:hover {
    color: black;
}

/* Seteo los Estilos del Contenedor Principal con Display en Flex */
.main-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93vh;
    margin: 0 50px;
}

/* Seteo los Estilos del Contenedores Secundarios con Display en Grid */

a.link-button {
    width: 50%;
}

a.link-button,
.formulario button {
    color: white;
    text-decoration: none;

    display: block;
}

/* Estilos del Formulario de Contacto */
.formulario {
    margin: 15px 20%;
}

.formulario input,
.formulario textarea {
    border-radius: 5px;
    border: none;
}

.formulario textarea {
    height: 150px;
}

.formulario button {
    border: none;
    width: 100%;
}

.btn.bg-primary.text-white:hover {
    color: black !important;
}

/* Estilos del Footer */
footer {
    background-color: lightgrey;
}

footer a,
footer a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    header {
        height: unset;
    }

    main {
        height: unset;
    }
}